<ion-view view-title="{{review.title}}">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-funnel" ng-click="filterIconClicked()">
      <span class="badge badge-assertive facet-badge" ng-if="facetCount>0">{{facetCount}}</span>
    </button>
    <button ng-if="showBlind" class="button button-icon icon {{blindIcon()}}" ng-click="blindClicked()"></button>
  </ion-nav-buttons>
  <ion-content delegate-handle="articlesContent" class="has-footer">

    <div ng-if="no_remote_filtering && articles.length > 0" class="item item-body articles-warning">
      To get all filtered articles, you have to download the review first.
      Please go back and click on the download icon for this review.
      Alternatively, you can just remove the filter to stream through all the articles.
    </div>

    <div class="list card" ng-repeat="article in articles">
      <div class="item item-body">
        <div class="article-counter">
          {{$index + 1}}/{{articlesTotal}}
        </div>
        <div class="article-title" ng-bind-html="highlightTitle(highlight2(highlight1(article.title)))"></div>
        <p ng-bind-html="highlightAuthors('Authors: ' + article.authors)">
        </p>
        <p>
        Journal: {{article.citation}}
        </p>
      </div>

      <div class="item item-body">
        <div ng-if="article.full_abstract">
          <p>
            Abstract:
          </p>
          <h2 class="abstract" ng-bind-html="highlightAbstract(highlight2(highlight1(article.full_abstract)))">
          </h2>
        </div>
        <div ng-if="!article.full_abstract">
          <h2>
            [NO ABSTRACT]
          </h2>
        </div>
        <div ng-if="article.topics">
          <h3 ng-bind-html="'Topics: ' + limit(highlightTopics(highlight2(highlight1(article.topics))))">
          </h3>
        </div>
        <p>
          <div class="labels-container">
            <span class="article-label label-included-{{article.included}}">{{article.included === true ? 'Included' : (article.included === false ? 'Excluded' : '')}}</span>
          </div>
          <div class="labels-container">
            <span ng-repeat="label in article.labels" class="article-label article-user-label">{{label}}</span>
          </div>
          <div class="labels-container labels-container-reasons">
            <span ng-repeat="label in article.reasons" class="article-label article-exclusion-label">{{label}}</span>
          </div>
        </p>
      </div>

      <div class="row padding">
        <button class="col button button-large button-balanced icon-left ion-thumbsup"
        ng-click="includedClicked(article, 1)">
          Include
        </button>
        <button class="col col-offset-10 button button-large button-assertive icon-left ion-thumbsdown"
        ng-click="includedClicked(article, -1)">
          Exclude
        </button>
      </div>

      <div class="row padding">&nbsp;</div>

      <div class="row padding">
        <button class="col button button-large button-outline button-positive"
        ng-click="labelClicked(article)">
          Label
        </button>
        <button class="col col-offset-10 button button-large button-outline button-assertive"
        ng-click="reasonClicked(article)">
          Reason
        </button>
      </div>

    </div>

    <ion-infinite-scroll ng-if="!noMoreArticlesAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  
    <div ng-if="noMoreArticlesAvailable && !errorLoadingMore && !download_pending && !no_remote_filtering" class="item item-body {{facetCount==0 ? 'articles-congrats' : 'articles-warning'}}">
      <span ng-if="facetCount==0">Congratulations, you have reached the end of this review, no more articles to screen, Yay!</span>
      <span ng-if="facetCount>0">No more articles to screen. Note that you have {{facetCount}}
      active filter{{facetCount==1?'':'s'}}. To get more articles, change your filter{{facetCount==1?'':'s'}}.</span>
    </div>

    <div ng-if="errorLoadingMore" class="item item-body articles-error">
      Error loading articles.
    </div>

    <div ng-if="download_pending" class="item item-body articles-warning">
      Review download is pending, please wait until it finishes then come back again.
    </div>

    <div ng-if="no_remote_filtering" class="item item-body articles-warning">
      To get all filtered articles, you have to download the review first.
      Please go back and click on the download icon for this review.
      Alternatively, you can just remove the filter to stream through all the articles.
    </div>

  </ion-content>

</ion-view>
