<ion-modal-view ng-controller="FacetsController">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Filters</h1>
    <div class="button button-clear" ng-click="applyFacets()">
      <span class="icon ion-close"></span>
    </div>
  </ion-header-bar>
  <ion-content has-header="true" padding="true" delegate-handle="facetsContent">

    <ryn-facet facet="search"></ryn-facet>
    <ryn-facet facet="inclusions"></ryn-facet>
    <ryn-facet facet="labels"></ryn-facet>
    <ryn-facet facet="reasons"></ryn-facet>
    <ryn-facet facet="topics"></ryn-facet>
    <ryn-facet facet="highlights_1"></ryn-facet>
    <ryn-facet facet="highlights_2"></ryn-facet>
    <ryn-facet facet="titleSearch"></ryn-facet>
    <ryn-facet facet="abstractSearch"></ryn-facet>
    <ryn-facet facet="authorSearch"></ryn-facet>

    <div class="padding">
      <button class="button button-block button-calm" ng-click="applyFacets()">Apply</button>
    </div>
  </ion-content>
</ion-modal-view>