<ion-view view-title="My account">
  <ion-content class="has-footer" ng-controller="LoginController">
    <div ng-if="!loggedIn()">
      <div class="card">
        <div class="item item-text-wrap">
           Rayyan QCRI is a 100% FREE web/mobile application to help systematic review authors screen citations in a quick, easy and enjoyable fashion. With this mobile app, you can download full reviews then screen them offline while you are riding the bus.
           Once connected, the app will automatically sync back to the Rayyan servers!
        </div>
      </div>
      <div class="card">
        <label class="item">
          <button class="button button-block button-positive" ng-click="login(false)">Sign in/up to Rayyan</button>
        </label>
        <div class="item item-text-wrap">
          Wanna give it a test drive first? No problem, just sign in to the demo account. Use demo@example.com for email and demo1234 for password.
        </div>
        <label class="item">
          <button class="button button-block button-dark" ng-click="login(true)">Demo sign in</button>
        </label>
      </div>
    </div>
    <div ng-if="loggedIn()">
      <div class="card">
        <div class="item item-text-wrap">
          You are currently signed in as <span class="item-strong-true">{{getDisplayName()}}</span>.
        </div>
      </div>
      <label class="item">
        <button class="button button-block button-assertive" ng-click="logout()">Sign out and delete all data</button>
      </label>
    </div>
  </ion-content>
</ion-view>
