<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title></title>

    <link href="lib/angular-chart.js/dist/angular-chart.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-ios9-uiwebview.patch.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>
    <script src="lib/underscore/underscore-min.js"></script>
    <script src="lib/persistence/lib/persistence.js"></script>
    <script src="lib/persistence/lib/persistence.store.sql.js"></script>
    <script src="lib/persistence/lib/persistence.store.websql.js"></script>
    <script src="lib/persistence/lib/persistence.store.cordovasql.js"></script>
    <script src="lib/persistence/lib/persistence.migrations.js"></script>
    <script src="lib/Chart.js/Chart.min.js"></script>
    <script src="lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/squel/squel.min.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-load/angular-load.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- TODO: load all javascripts using require -->
    <script src="js/services/migrations/001.create.review.js"></script>
    <script src="js/services/migrations/002.create.article.js"></script>
    <script src="js/services/migrations/003.create.customization.js"></script>
    <script src="js/services/migrations/004.create.journal.js"></script>
    <script src="js/services/migrations/005.create.facet.js"></script>
    <script>
        M = {}  // to wrap all model definitions, better done through angular service/require
    </script>
    <script src="js/services/models/review.js"></script>
    <script src="js/services/models/article.js"></script>
    <script src="js/services/models/customization.js"></script>
    <script src="js/services/models/journal.js"></script>
    <script src="js/services/models/facet.js"></script>
    <script src="js/services/rayyan.local.service.js"></script>

    <script src="js/services/rayyan.remote.service.js"></script>    
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers/menu.controller.js"></script>
    <script src="js/controllers/login.controller.js"></script>
    <script src="js/controllers/reviews.controller.js"></script>
    <script src="js/controllers/articles.controller.js"></script>
    <script src="js/controllers/labels.controller.js"></script>
    <script src="js/controllers/footer.controller.js"></script>
    <script src="js/controllers/facets.controller.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-app="rayyan">
    <ion-nav-bar></ion-nav-bar>
    <ion-nav-view></ion-nav-view>
    <ion-footer-bar class="bar bar-footer connection-footer connection-{{connectionStatus}}" align-title="left"
    ng-controller="FooterController" ng-click="footerClicked()">
        {{footerText}}
        &nbsp;
        <span ng-if="journalProcessing" class="journal-processing-pending">
            <i class="icon journal-sync"></i>
        </span>
        <span ng-if="pendingActionsCount > 0" class="pending-actions-count">{{pendingActionsCount}}</span>
        <span ng-if="pendingActionsCount > 0" class="pending-actions-count-icon">
            <i class="icon pending-actions-icon"></i>
        </span>
    </ion-footer-bar>

  </body>
</html>
