.item-strong-true {
  font-weight: bold;
}

.item-italic-true {
  font-style: italic;
}

.labels-container {
  margin-bottom: 5px;
  /*word-break: keep-all;*/
}

.labels-container-reasons {
  margin-top: 6px;
}

.article-label {
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin-right: 5px;
  line-height: 26px;
  /*word-wrap: normal;*/
}

.article-user-label {
  background-color: blue;
}

.article-exclusion-label {
  background-color: white;
  color: red;
  border: 1px solid red;
  line-height: 28px;
}

.label-included-true {
  background-color: green;
}

.label-included-false {
  background-color: red;  
}

.search-box {
  background-color: inherit;
}

.article-title {
  font-size: 20px;
  line-height: 22px;
  color: black;
  font-weight: bold;
}

.review-downloaded-all {
  color: green;
}

.review-download-error {
  color: red;
}

ion-spinner.review-download-pending svg{
}

.decisions-chart {
  position: absolute;
  top: 18px;
  left: 18px;
  max-width: 70px;
  max-height: 70px;
  width: 100%;
  height: 100%;
}

.has-footer {
  bottom: 24px;
}

.connection-footer {
  height: 24px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  line-height: 15px;
}

.connection-footer.connection-online {
  background-color: green;
  color: white;
}

.connection-footer.connection-offline {
  background-color: red;
  color: white;
}

.pending-actions-count {
  position: absolute;
  right: 5px;
  top: 5px;
}

ion-spinner.journal-processing-pending svg{
  width: 16px;
  height: 16px;
  stroke: white;
}