.item-strong-true {
  font-weight: bold;
}

.item-italic-true {
  font-style: italic;
}

.labels-container {
  margin-bottom: 5px;
  /*word-break: keep-all;*/
}

.labels-container-reasons {
  margin-top: 6px;
}

.article-label {
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin-right: 5px;
  line-height: 26px;
  /*word-wrap: normal;*/
}

.article-user-label {
  background-color: blue;
}

.article-exclusion-label {
  background-color: white;
  color: red;
  border: 1px solid red;
  line-height: 28px;
}

.label-included-true {
  background-color: green;
}

.label-included-false {
  background-color: red;  
}

.labels-search-box {
  background-color: inherit;
}

.article-title {
  font-size: 20px;
  line-height: 22px;
  color: black;
  font-weight: bold;
}

.review-download-error {
  color: red;
}

ion-spinner.review-download-pending svg{
}

.decisions-chart {
  position: absolute;
  top: 10px;
  left: 18px;
  max-width: 70px;
  max-height: 70px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.review-item {
  height: 90px;
  min-height: 90px;
  max-height: 90px;
}

.review-item>a{
  height: 80px;
}

.review-trophy {
  position: absolute;
  top: -5px !important;
  left: 36px;
  color: blue;
  font-size: 40px !important;
}

.review-download-progress {
  margin: 0 auto 0 auto;
}

.review-icons>i {
  top: -6px !important;
}

.has-footer {
  bottom: 24px;
}

.connection-footer {
  height: 24px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  line-height: 15px;
}

.connection-footer.connection-online {
  background-color: green;
  color: white;
}

.connection-footer.connection-offline {
  background-color: red;
  color: white;
}

.pending-actions-count {
  position: absolute;
  top: 5px;
}

.pending-actions-count.ios {
  right: 30px;
}

.pending-actions-count.android {
  right: 32px;
}

.pending-actions-count-icon {
  position: absolute;
  right: 5px;
  font-size: 24px;
}

.pending-actions-count-icon.ios {
  top: 2px;
}

.pending-actions-count-icon.android {
  top: 0;
}

ion-spinner.journal-processing-pending svg{
  width: 16px;
  height: 16px;
  stroke: white;
}

.journal-processing-pending i {
  position: absolute;
  font-size: 24px;
  top: 0px;
}

.item-input-wrapper.facet-search-wrapper {
  padding-right: 0;
}

.facet-search-title {
  /*margin-right: 8px;*/
  min-width: 60px;
  text-align: right;
}

.facet-search-box {
  /*background-color: white;*/
  width: 100%;
  padding: 0 10px !important;
}

.facet-search-icon {
  line-height: 37px;
  padding-left: 6px;
  padding-right: 6px;
}

.facet-search-clear-button {
  /*min-width: inherit;*/
}

.list:last-child.card.facet-card{
  margin-bottom: 20px;
}

.item-button-right > .button.facet-clear-button {
  top: 0px;
  right: 0px;
}

.bar .buttons-right span.facet-badge {
  margin-left: 10px;
}

.button .badge.facet-badge {
  top: -35px;
  right: -12px;
}

.badge.facet-badge {
  padding: 3px;
  font-size: 10px;
  line-height: 14px;
}

.highlight-category-1 {
  background-color: lightgreen;
  color: black;
  padding: 0 3px 0 3px;
}

.highlight-category-2 {
  background-color: red;
  color: white;
  padding: 0 3px 0 3px;
}

.highlight-category-search {
  background-color: yellow;
  color: black;
  padding: 0;
  /*border: 1px solid black;*/
}

.highlight-hidden {
  background-color: transparent !important;
  color: black !important;
  padding: 0 !important;
}

.abstract {
  text-align: justify; 
  text-justify: distribute;
}

.article-counter {
  float: right;
  border-radius: 5px;
  padding: 3px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.articles-error {
  background-color: red;
  color: white;
  font-weight: bold;
}

.articles-warning {
  background-color: blue;
  color: white;
  font-weight: bold;
}

.articles-congrats {
  background-color: green;
  color: white;
  font-weight: bold;
}

.reviews-updated-at {
  float: right;
  font-size: 12px;
}

.rayyan-header {
  height: 58px;
}

.rayyan-title {
  top: 8px !important;
}

.rayyan-icon {
  background-image: url(/img/icon.png);
  width: 48px;
  height: 48px;
}

.menu-content.has-header {
  top: 58px;
}